//
//  companyRelease.xcconfig
//  iOS-HHZUniversal
//
//  Created by 376811578@qq.com on 16/12/30.
//  Copyright © 2016年 陈哲是个好孩子. All rights reserved.
//

#include "Pods/Target Support Files/Pods-iOS-HHZUniversal/Pods-iOS-HHZUniversal.companyrelease.xcconfig"

//签名证书
CODE_SIGN_IDENTITY = iPhone Developer: Xueyin Xu (HHWV89G6J8)

//描述文件
PROVISIONING_PROFILE = 85b78b91-55ed-44d6-acd5-017083dd2787

//APP显示的名称
APP_SHOW_NAME = 比卡丘R

